{% extends 'basetpl/default.html' %}
{% load custom_filters %}
{% load custom_tags %}

{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все категории</h1>
    <p style="text-align:right;">
        <a href="/categorys/create/">Добавить категорию</a>
    </p>
    <hr>
    {% if categorys %}
        <table cellpadding="15" width="100%" style="text-align:left">
            <tr style="border-bottom:solid 2px grey;">
                <td>Название</td>
                <td></td>
            </tr>
            {% for category in categorys %}
                <tr style="border-bottom:solid 1px grey;">
                    <td>{{ category.name }}</td>
                    <td><a href="/categorys/{{ category.id }}">Блог категории</a></td>
                </tr>
            {% endfor %}
        </table>
    {% else %}
        <h2>Категорий нет</h2>
    {% endif %}

    {% if page_obj.has_next %}
        {% if page_obj.has_previous %}
            <a href="?{% url_replace page=1 %}">1</a>
            {% if page_obj.previous_page_number != 1 %}
                ...
            <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
            {% endif %}
        {% endif %}

        {{ page_obj.number }}

        {% if page_obj.has_next %}
            <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
            {% if paginator.num_pages != page_obj.next_page_number %}
               ...
               <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
            {% endif %}
        {% endif %}
    {% endif %}
{% endblock content %}